
<link rel="stylesheet" href="{{ url_for('static', filename='css/warehouse_page.css') }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<div class="header">
    <a href="{{ url_for('warehouse.warehouse_storage_route') }}"><i class="bi bi-arrow-left"></i></a>
    <span class="header-title">Продукт: {{ product.name }}</span>
</div>


<p>{{ product.description_intro }}</p>
{{ product.description_text | safe }}



