@font-face {
    font-family: 'Futura New';
    src: url('/fonts/FuturaNewLight-Reg.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Futura New';
    src: url('/fonts/FuturaNewLight-Obl.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Futura New';
    src: url('/fonts/FuturaNewBook-Reg.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Futura New';
    src: url('/fonts/FuturaNewBook-Obl.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Futura New';
    src: url('/fonts/FuturaNewMedium-Reg.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura New';
    src: url('/fonts/FuturaNewMedium-Obl.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Futura New';
    src: url('/fonts/FuturaNewDemi-Reg.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Futura New';
    src: url('/fonts/FuturaNewDemi-Obl.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Futura New';
    src: url('/fonts/FuturaNewBold-Reg.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Futura New';
    src: url('/fonts/FuturaNewBold-Obl.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Futura New';
    src: url('/fonts/FuturaNewExtraBold-Reg.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Futura New';
    src: url('/fonts/FuturaNewExtraBold-Obl.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Futura New';
    src: url('/fonts/FuturaNewHeavy-Reg.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Futura New';
    src: url('/fonts/FuturaNewHeavy-Obl.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}

:root {
    --tg-bg: var(--tg-theme-bg-color, #ffffff);
    --tg-text: var(--tg-theme-text-color, #000000);
    --tg-button: #D4A837;
    --tg-button-text: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Futura New', sans-serif;
    font-weight: 400;
}

body {
    background: #fff;
    padding: 20px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
    margin-top: 37px;
    padding: 20px;
}

header h1 {
    font-weight: 500;
    font-size: 24px;
}

header a {
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: #000000;
    text-decoration: none;
}

.employee-form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
    padding: 20px;
    min-height: 0;
}

.employee-form input {
    width: 100%;
    padding: 12px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 16px;
}

.submit-button {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    font-weight: 600;
    background: #d4a240;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    position: absolute;
    bottom: 50px;
    background: #fff;
}

.submit-button:hover {
    background: #b78c35;
}