Hello all news 

<a href="{{ url_for('news.add_news') }}">Добавить новость</a>
<a href="{{ url_for('dashboard.index') }}">Назад</a>

{% for new in news %}
    <h1>{{ new.title }}</h1>
    <p>{{ new.description }}</p>
    <p>{{ new.created_date }}</p>
    <p>{{ new.update_date }}</p>
    <a href="{{ url_for('news.detailed_news', id=new.id) }}">Подробнее</a>
    <hr>
    <a href="{{ url_for('news.edit_news', id=new.id) }}">Редактировать</a>
    <a href="{{ url_for('news.delete_news', id=new.id) }}">Удалить</a>
{% endfor %}