<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, viewport-fit=cover">
    <title>Telegram Mini App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Vision Trend" class="logo">

    <form action="{{ url_for('auth.login_phone_route') }}" method="POST">
        {% if error %}
        <div class="error-message animate-error">{{ error }}</div>
        {% endif %}
        <input type="text" name="phone" class="input-field" placeholder="Номер телефона" value="{{ phone or '' }}">
        <button type="submit" class="button">Продолжить</button>
    </form>

    <script>
        const tg = window.Telegram.WebApp;
        tg.expand(); // Развернуть Mini App
    </script>
</body>

</html>