<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vision Trend</title>
    <link rel="stylesheet" href="../css/partner_main_page.css">
</head>

<body>
    <header>
        <img src="../img/logo.png" alt="Vision Trend" class="logo owner-logo">
    </header>

    <main>
        <section class="profile-card">
            <div class="profile-info">
                <p>Имя партнера:</p>
                <h2>Adam Lumberg</h2>
                <p>Компания партнер:</p>
                <h3>NabievOptics</h3>
            </div>
            <div class="profile-icon">
                <img src="../img/icon-user.png" alt="Профиль">
            </div>
            <div class="verified">
                <img src="../img/check-icon.png" alt="Подтверждено">
            </div>
        </section>

        <nav class="menu">
            <a href="communication_page.html" class="menu-btn">
                <img src="../img/chat-icon.png" alt="Коммуникация"> Коммуникация
            </a>
            <div class="menu-row">
                <a href="storage.html" class="menu-btn">
                    <img src="../img/storage-icon.png" alt="Склад"> Склад
                </a>
                <a href="storage.html" class="menu-btn">
                    <img src="../img/news-icon.png" alt="Склад"> Новости
                </a>
            </div>
            <a href="storage.html" class="menu-btn">
                <img src="../img/buy.png" alt="Склад"> Заказать
            </a>
            <a href="storage.html" class="menu-btn">
                <img src="../img/history-icon.png" alt="Склад"> История заказов
            </a>
        </nav>

        <section class="orders">
            <h3>Недавние заказы:</h3>
            <div class="order">
                <strong>Заказ №4311</strong>
                <div class="order-details">
                    <p>Статус: <span class="status sent">Отправлен</span></p>
                </div>
            </div>
            <div class="order">
                <strong>Заказ №4311</strong>
                <div class="order-details">
                    <p>Статус: <span class="status sent">Отправлен</span></p>
                </div>
            </div>
            <div class="order">
                <strong>Заказ №4311</strong>
                <div class="order-details">
                    <p>Статус: <span class="status sent">Отправлен</span></p>
                </div>
            </div>
        </section>
    </main>
</body>

</html>